<script>
	let randomBlockPromise = getRandomBlock();
	async function getRandomBlock() {
		const res = await fetch('https://arena-connect.travisshears.xyz/random-block-api/v1/block');
		const raw_data = await res.json();
		const block = raw_data.block;
		if (block.class === "Channel") {
			return getRandomBlock();
		}
		if (block.class === "Text") {
			return {
				type: 'txt',
				snippet: `"${block.content.substring(0, 30)}"`,
				url: `https://www.are.na/block/${block.id}`
			}
		}
		return {
			type: 'img',
			title: block.generated_title,
			imgSrc: block.image ? block.image.square.url : '',
			url: `https://www.are.na/block/${block.id}`
		}
	}

	let showPlaceholder = true;
	function handleImgLoaded() {
		showPlaceholder = false;
	}
</script>

<div>
	{#await randomBlockPromise}
	<div class="rab__link">
		<div class="rab__img-outer">
			<div class="rab__img-inner">
				<div class="placeholder"></div>
			</div>
		</div>
		<p class="rab__title">loading...</p>
	</div>
	{:then block}
	<a class="rab__link" href="{block.url}">
		{#if block.type === 'img'}
		<div class="rab__img-outer">
			<div class="rab__img-inner">
				<div class="placeholder" class:faded="{!showPlaceholder}"></div>
				<img on:load={handleImgLoaded} src={block.imgSrc} alt="block" />
			</div>
		</div>
		{:else if block.type == 'txt'}
			<p class="rab__snippet">{block.snippet}</p>
		{/if}
		<p class="rab__title">{block.title}</p>
	</a>
	{:catch error}
	{error.message}
	<div class="rab__link">
		<div class="rab__img-outer">
			<div class="rab__img-inner">
				<div class="placeholder"></div>
			</div>
		</div>
		<p class="rab__title">problem loading block</p>
	</div>
	{/await}
</div>

<style>
.rab__link {
	display: block;
}
.rab__img-outer {
	position: relative;
}
.rab__img-outer:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}
.rab__img-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	border: 1px solid rgba(0, 0, 0, 0.84);
	padding: 3px;
}
.rab__link img {
	position: absolute;
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	display: block;
	z-index: 5;
}
.placeholder {
	background: #ABABAB;
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	position: absolute;
	z-index: 15;
	opacity: 1;
	transition: opacity ease 0.2s;
}
.placeholder.faded {
	opacity: 0;
}
.placeholder:hover {
	opacity: 1;
	background: red;
	z-index: 16;
}
.rab__title {
	text-align: center;
	font-size: 10px;
}
.rab__snippet {
	text-align: center;
}
</style>